From: {{ from_name }} <{{from_email}}>
To: {{ to_name }} <{{to_email}}>
Subject: Your're invited to try Minion

Dear {{ to_name }}: 

{{ from_name }} is inviting you to try Minion. Minion is a platform developed by the Security Automation team at Mozilla to enable integration and adoption of automated security testing that has been under development for the past year.

Click {{ invite_url }} to accept or decline this invitation.
You are encouraged to contact {{ from_name }} before accepting this invitation.

Thank you.

Sincerely,
Security Assurance Team at Mozilla
